.rodape {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: 50% 50% ;
  height: 7rem;
  background-color: rgba(202, 227, 129, 1);
  
}
.rodape__imagem {
  height: 7rem;
  width: 10rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.rodape__imagem-2 {
  grid-row-start: 2;
  grid-column-end: 4;
}
.p {
  margin-top: 1rem;
  margin-left: 1rem;
  grid-row-start: 1;
  grid-column-end: 4;
}